# Object files
*.o

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app

# Installer helper files
/inst_file_list_32bits.txt
/inst_file_list_64bits.txt
/uninst_file_list_32bits.txt
/uninst_file_list_64bits.txt
